body {
  padding: 0px;
  margin: 0px;
}


.layer {
  position: absolute;
  width: 480px;
  height: 256px;
}

#back {
  background: transparent url(../img/sky.png);
}


#front {
  background: transparent url(back3.png);
}